@page
@{
    Layout = "~/Pages/Shared/Layout.cshtml"; // Указываем путь к макету
    ViewData["Title"] = "products List";
}
<div id="filter-container">
    <label for="filter-name">Фильтр по имени:</label>
    <input type="text" id="filter-name" oninput="applyFilters()">
</div>
<div id="table-container">
    <!-- Данные будут загружены сюда через JS -->
</div>
<div id="modal" class="modal-info">
    <div class="modal-info-content">
        <!--Здесь будет содержимое для отображения подробностей -->
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script rel="stylesheet" src="~/js/products/edit.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/products/create.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/products/info.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/products/get.js" asp-append-version="true"></script>
<script rel="stylesheet" src="~/js/crud.js" asp-append-version="true"></script>