<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/model.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal_list.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="/Home/Authentication">Аккаунт</a></li>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Tables/Products?page=1&pageSize=10">Products</a></li>
                <li><a href="/Tables/Enterprises?page=1&pageSize=10">Enterprises</a></li>
                <li><a href="/Tables/ProductTypes?page=1&pageSize=10">productTypes</a></li>
                <li><a href="/Tables/ProductionPlans?page=1&pageSize=10">ProductionPlans</a></li>
                <li><a href="/Tables/SalesPlans?page=1&pageSize=10">salesPlans</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody() <!-- Здесь будет вставлено содержимое дочерних страниц -->
        <script rel="stylesheet" src="~/js/layout.js" asp-append-version="true"></script>
    </main>
</body>
</html>
